$colors: (
  textHover: #9692af,
  darkGray: #7f7f7f,
  lightGray: #eee,
  dark: #000,
  transparent: rgba(75, 75, 75, 0.76)
);

$textFont: "Open Sans Condensed", sans-serif;
$headlineFont: "Staatliches", cursive;
